{% extends 'base.html.twig' %}

{% block title %}Vaccination{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Vaccination </h1>
        
   </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vaccination.id }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ vaccination.statut }}</td>
            </tr>
            <tr>
                <th>Patient</th>
                <td>{{ vaccination.patient }}</td>
            </tr> 
            <tr>
                <th>Nom du vaccin</th>
                <td>{{ vaccination.vaccin }}</td>
            </tr>          
            <tr>
                <th>Centre de vaccination</th>
                <td>{{ vaccination.centreVaccination }}</td>
            </tr>
            <tr>
                <th>Date_vaccination</th>
                <td>{{ vaccination.dateVaccination ? vaccination.dateVaccination|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a  type="button" class="btn btn-secondary" href="{{ path('vaccination_edit', {'id': vaccination.id}) }}">Mettre à jour</a>
    <a  type="button" class="btn btn-secondary" href="{{ path('vaccination_index') }}">Retourner a la liste</a>

    {{ include('vaccination/_delete_form.html.twig') }}
</div>
{% endblock %}
